# Dependencies
node_modules/
/.pnp
.pnp.js

# Next.js & Vercel Build Output
/.next/
/out/
/.vercel/

# Logs & Environment Variables
*.log
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*
!.env.example

# OS & IDE Files
.DS_Store
*.pem
.idea/
.vscode/
